/* Futurist (Fixed Width) */
@font-face {
	font-family: Futurist;
	src: url('../resources/fonts/futurist-fixed-width/futurist-fw.ttf');
}


/* Open Sans */
@font-face {
	font-family: Open Sans;
	src: url('../resources/fonts/open-sans/OpenSans-Light.ttf');
}


/* Source Sans Pro */
@font-face {
	font-family: Source Sans Pro;
	src: url('../resources/fonts/source-sans-pro/SourceSansPro-ExtraLight.otf');
	font-weight: lighter;
}

@font-face {
	font-family: Source Sans Pro;
	src: url('../resources/fonts/source-sans-pro/SourceSansPro-ExtraLightIt.otf');
	font-weight: lighter;
	font-style: italic;
}

@font-face {
	font-family: Source Sans Pro;
	src: url('../resources/fonts/source-sans-pro/SourceSansPro-Light.otf');
	font-weight: light;
}

@font-face {
	font-family: Source Sans Pro;
	src: url('../resources/fonts/source-sans-pro/SourceSansPro-LightIt.otf');
	font-weight: light;
	font-style: italic;
}

@font-face {
	font-family: Source Sans Pro;
	src: url('../resources/fonts/source-sans-pro/SourceSansPro-Regular.otf');
	font-weight: normal;
}

@font-face {
	font-family: Source Sans Pro;
	src: url('../resources/fonts/source-sans-pro/SourceSansPro-It.otf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: Source Sans Pro;
	src: url('../resources/fonts/source-sans-pro/SourceSansPro-Bold.otf');
	font-weight: bold;
}

@font-face {
	font-family: Source Sans Pro;
	src: url('../resources/fonts/source-sans-pro/SourceSansPro-BoldIt.otf');
	font-weight: bold;
	font-style: italic;
}